body {
  margin: 0 auto;
  background: #fff;
}

.main,
.title,
.tip {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-width: 10px;
  border-style: solid;
  border-color: #ccccc9;
  background-color: #f2f2eb;
  max-width: 50vh;
}

.title {
  color: #ff3d00;
  margin-bottom: rem;
}

.tip {
  color: #ff3d00;
  margin-bottom: 1rem;
}

.container-form {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.restart {
  border: none;
  border-radius: 5px;
  width: 14rem;
  height: 3rem;
  display: inline-block;
  margin: 1rem 9rem 3rem 9rem;
  cursor: pointer;
  background-color: grey;
  color: white;
}

.input {
  border-radius: 5px;
  border-color: #ff3d00;
  background: white;
  font-size: 1.5rem;
}

.check {
  background-color: #ff3d00;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.container-display {
  padding: 2rem;
}

.display-container {
  position: relative;
  margin-right: 28px;
  float: left;
}

.display-container div.segment-x,
.display-container div.segment-y {
  position: absolute;
}

.display-container span.segment-border {
  display: block;
  position: absolute;
}

.display-container.display-size-12 {
  width: 100px;
  height: 250px;
}

.display-container.display-size-12 .segment-x {
  width: 72px;
  left: 13px;
  border-bottom: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
  top: 10px;
  left: -10px;
  right: -10px;
  border-top: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.display-container.display-size-12 .segment-y {
  height: 72px;
  width: 0;
  border-right: 10px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
  position: relative;
  left: 10px;
  height: 72px;
  margin-top: -10px;
  border-left: 10px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.display-container.display-size-12 .segment-a {
  top: 0;
}

.display-container.display-size-12 .segment-b {
  top: 13px;
  left: 98px;
}

.display-container.display-size-12 .segment-c {
  top: 111px;
  left: 98px;
}

.display-container.display-size-12 .segment-d {
  top: 196px;
}

.display-container.display-size-12 .segment-e {
  top: 111px;
  left: 0px;
}

.display-container.display-size-12 .segment-f {
  top: 13px;
  left: 0px;
}

.display-container.display-size-12 .segment-g {
  top: 98px;
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
  /*display: none;*/
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-0 .segment-g {
  /*display: none;*/
  opacity: 0.1;
}
