:root {
  --border: #efefef;
  --card: #fdfdfd;
  --text: #d77332;
  --display: #272b32;
  --button-check: #d96a29;
  --input-disable: #cfcfcf;
  --button-disable: #a9a9a9;
  --button-text: #fff;
  --restart: #929493;
  --wrong: #bf3e21;
  --correct: #65bf3b;
  --tip: #bf3e21;
}

html {
  margin-top: 1rem;
  background: rgb(216, 211, 252);
}
.main,
.title,
.tip {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

hr {
  border: 0;
  border-top: 3px solid var(--display);
  opacity: 0.1;
  width: 60%;
  margin-top: -40px;
}

/* Seção que contem todo o conteúdo (Titulo, dicas, display, input e buttons*/
.card {
  border-width: 5px;
  border-style: solid;
  border-color: var(--border);
  background-color: var(--card);
}

.title {
  color: var(--text);
  margin: 3rem;
}

.form {
  margin: 1.5rem;
}

.input {
  border-radius: 5px;
  border-color: var(--button-check);
  width: 12rem;
  height: 2rem;
}

.input.disable {
  background-color: var(--input-disable);
  cursor: not-allowed;
  opacity: 0.5;
  border: 3px solid var(--input-disable);
}

.button {
  background-color: var(--button-check);
  border: none;
  border-radius: 5px;
  color: var(--button-text);
  width: 5rem;
  height: 2.5rem;
  cursor: pointer;
}
.button:hover {
  filter: brightness(150%);
}

.button.disable {
  background-color: var(--button-disable);
  cursor: not-allowed;
  opacity: 0.5;
}
.tip-game {
  color: var(--tip);
}

.correct {
  color: var(--correct);
}

.wrong {
  color: var(--wrong);
}

.btn-restart {
  background-color: var(--restart);
  border: none;
  border-radius: 5px;
  color: var(--button-text);
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  font-size: 15px;
}

.span-nova-partida {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.imgRestart {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.restart {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

/* Container dos displays */
.container {
  min-width: 22rem;
  min-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container de cada display */
.display-container {
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
}
/* Fixa a posição dos eixos dos displays */
.display-container div.segment-x,
.display-container div.segment-y {
  position: absolute;
}
/* Fixa a posição das bordas dos eixos dos displays */
.display-container span.segment-border {
  display: block;
  position: absolute;
}
/* Tamanho da area dos displays */
.display-container.display-size-12 {
  width: 50px;
  height: 200px;
}
/* Tamanho e inicio do display deitados (eixo x) */
.display-container.display-size-12 .segment-x {
  width: 40px;
  left: 12px;
  border-bottom: 12px solid var(--display);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
/* Espaçamento e bordas do eixo x */
.display-container.display-size-12 .segment-x .segment-border {
  top: 12px;
  left: -12px;
  right: -12px;
  border-top: 12px solid var(--display);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
/* Tamanho do display em pé (eixo y) */
.display-container.display-size-12 .segment-y {
  height: 60px;
  border-right: 12px solid var(--display);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
/* Espaçamento e bordas do eixo y */
.display-container.display-size-12 .segment-y .segment-border {
  left: 12px;
  height: 60px;
  margin-top: -12px;
  border-left: 12px solid var(--display);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
/* Abaixo são os posicionamento dos displays */
.display-container.display-size-12 .segment-a {
  top: 0;
}
.display-container.display-size-12 .segment-b {
  top: 14px;
  left: 64px;
}
.display-container.display-size-12 .segment-c {
  top: 102px;
  left: 64px;
}
.display-container.display-size-12 .segment-d {
  top: 176px;
}
.display-container.display-size-12 .segment-e {
  top: 102px;
  left: 0px;
}
.display-container.display-size-12 .segment-f {
  top: 14px;
  left: 0px;
}
.display-container.display-size-12 .segment-g {
  top: 88px;
}
/* Abaixo são as opacidades dos displays referente ao numero*/
.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
  opacity: 0.05;
  filter: alpha(opacity=10);
}
.display-no-2 .segment-c,
.display-no-2 .segment-f {
  opacity: 0.05;
}
.display-no-3 .segment-e,
.display-no-3 .segment-f {
  opacity: 0.05;
}
.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e {
  opacity: 0.05;
}
.display-no-5 .segment-b,
.display-no-5 .segment-e {
  opacity: 0.05;
}
.display-no-6 .segment-b {
  opacity: 0.05;
}
.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g {
  opacity: 0.05;
}

/* Display oito não precisa de opacidade */

.display-no-9 .segment-e {
  opacity: 0.05;
}
.display-no-0 .segment-g {
  opacity: 0.05;
}
/* Para desativar o display, foi utilizado o none*/
.display-no-none {
  display: none;
}
